.app-header {
    width: 100%;
    background-color: rgb(31, 41, 55);
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.app-header__title {
    color: rgb(249, 250, 251);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3.75rem;
    line-height: 1;
}